* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    margin: 1rem;
    padding: 1rem;
    gap: 10px;
    grid-template-columns: 1fr 10fr;
}

.todos {
    display: grid;
    grid-column: 2;
}

.form-row > input {
    padding: 2px 5px 2px 5px;
}


.project-section {
    display: grid;
    /* place-items: center;*/
    row-gap: 10px;
    width: 100%;
}

.project-title {
    font-weight: bold;
    font-size: 1rem;
    align-self: start;
    border: none;
    background-color: lightgrey;
    padding: 5px;
}

.project-title:focus {
    background-color: firebrick;
}

.sidebar {
    grid-column: 1;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    justify-items: center;
    row-gap: 15px;
    display: grid;
    min-width: 200px;
    min-height: 500px;
    grid-template-rows: max-content 1fr;
}

.todo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: 2rem;
}

.todo-card {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: lightblue;
    max-height: max-content;
}

.form-wrapper {
    display: grid;
    gap: 5px;
}

dialog {
    margin: auto;
    padding: 1rem;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-row {
    display: grid;
    grid-template-columns:  2fr 3fr;
}

.hidden {
    display: none;
}

.checklist {
    padding-left: 1rem;
}

.new-button {
    display: flex;
    justify-content: center;
}

